{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">E-Mail:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
