{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quick Inn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta name="google-signin-client_id" content="1089055923184-69op3q7b53tvk3m148apld56bjekpe5a.apps.googleusercontent.com">

</head>
<body>

    <nav class="navbar">
        <div class="navbar__left">
            <a href="{% url 'home' %}" class="navbar-btn">Quick Inn</a>
        </div>
        <div class="navbar__right">
            <a href="{% url 'support' %}" class="navbar-btn">Support</a>
            <a href="{% url 'login' %}" id="login-btn">Inloggen</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" id="hamburger-icon">
                <path fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"/>
            </svg>
        </div>
    </nav>

    {% block parallax %}
    {% endblock %}

    <div class="content {% block content_class %}{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode/1.4.4/qrcode.min.js" integrity="sha512-6x997BOv0e4O+G45Cwr4PZMYXP0ATChLcSob5IB6DPpXvDfRDMBFClXOg5ahmIVBoAf2tnsENpkHRJckceZiwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>