{% extends "main/base.html" %}

{% block parallax %}
<div class="parallax"></div>
{% endblock %}

{% block content_class %}content-overlay{% endblock %}

{% block content %}
<div class="home-text">
    <h1 class="big-header">Quick Inn</h1>
    <div class="qrcode-container">
        <div class="qrcode-holder">
            <img id="qrcode-image" class="qrcode-image"/>
        </div>
        <div class="qrcode-inputs">
            <input type="text" id="qrcode-url" placeholder="Plak hier je Booking.com link: " >
            <button id="qrcode-button">Genereer de QR Code</button>
        </div>
    </div>
</div>
{% endblock %}